nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4A90E2;
  color: #fff;
  height: 64px;
}

nav img {
  justify-self: flex-start;
}

nav ul {
  list-style: none;
}

nav ul li {
  font-weight: bold;
  font-size: 15px;
}